.title {
  font-size: 20px;
  text-align: center;
  color: #188ae2;
}


.wordandsentence{
  position: relative;
  left: 5%;
  width: 90%;
}

.buttonright{
  position: absolute;
  right: 5%;
}

.buttons{
  position: relative;
  left: 15%;
}
