.title {
  font-size: 22px;
  text-align: center;
  color: #188ae2;
}

.title18 {
  font-size: 18px;
    color: #505458;
    font-family: 'Karla', sans-serif;
    margin: 10px 0;
}

.title16 {
  color: #505458;
  font-family: Karla,sans-serif;
}

.title15 {
  font-size: 15px;
  color: #71b6f9;
}

.wordandsentence{
  position: relative;
  left: 5%;
  width: 90%;
}

.buttonright{
  float: right;
  margin-right: 20px;
}

.buttons{
  position: relative;
  left: 15%;
}

.text_muted2 {
    font-size: 13px;
    color: #98a6ad !important;
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
}

.cardboxfix {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    margin: 10px 0;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
