.pageTitle {
  font-family: cursive;
  font-size: 30px;
  color: blue;
  text-align: center;
}

.wordandsentence{
  position: relative;
  left: 5%;
  width: 90%;
}

.buttonright{
  position: absolute;
  right: 5%;
}

.buttons{
  position: relative;
  left: 15%;
}
