.help {
  font-size: 16px;
  line-height: 32px;
}

.title {
  // padding-top: 10px;
  // padding-left: 10px;
  font-size: 20px;
  text-align: center;
  color: #188ae2;
  // color: blue;
}

.part {
  // padding-left: 30px;
  // font-size: 25px;
  // color: orange;
  color: #f9c851;
}
li{
  float: none;
}
