@niceGrey: hsl( 220 , 50% , 55% );
.whole {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 20px;
  text-align: center;
  color: #188ae2;
}

.title1 {
  font-size: 17px;
  text-align: center;
  color: #71b6f9;
}

.normal_type {
   color: black;
}

.choosed_type {
  color: #71b6f9;
  //color: blue;
}
