.pageTitle {
  font-family: cursive;
  font-size: 30px;
  color: blue;
  text-align: center;
}

.logic_knowledge {
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 35px;
}

.dalei {
  font-size: 25px;
  color: red;
  text-align: center;
}

.logic_knowledge_title {
  font-size: 22px;
  color: orange;
  line-height: 45px;
}

.enterNextButton {
  position: absolute;
  left: 50%;
}
