.pageTitle {
  font-family: cursive;
  font-size: 30px;
  color: blue;
  text-align: center;
}

.chtoengall{
  position: relative;
  left: 5%;
  width: 80%;
}

.ShowEngAndReturn{
  position: absolute;
  right: 15%;
}
