.help {
  font-size: 16px;
  line-height: 32px;
   // line-height: 30px;
}

.title {
  font-size: 22px;
  text-align: center;
  color: #188ae2;
}

.part {
  color: #71b6f9;
}

.strong {
  color: red;
  white-space: nowrap;
}

li{
  float: none;
}
